* {
   margin: 0 0;
   padding: 0 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #555;
}
a {
   text-decoration: none;
   font-weight: 700;
}
body {
   max-width: 100%;
   box-sizing: border-box;
   background-color: #ededed;
   #app {
      
      header {
         padding: 20px 0;
         text-align: center;
         background-color: #4a66c2;
         h1 {
            color: #fff;
            line-height: 2;
         }
         h3 {
            color: #fff;
            line-height: 1.5;
         }
      }
      .juego {
         margin: auto;
         padding: 20px;
         width: 80%;
         display: block;
         background-color: #fff;
         @media (max-width: 1023px) {
            width: 100%;
         }
         h2 {
            padding: 10px 0;
            text-align: center;
         }
         a {
            p {
               text-align: center;
               text-decoration: underline;
               color: #0f87d6;
               &:hover {
                  text-decoration: none;
                  color: #555;
               }
            }
         }
         &_endGame {
            margin: auto;
            padding: 10px 0;
            width: 100%;
            text-align: center;
            &-win {
               color: rgb(37, 177, 44);
            }
            &-lose {
               color: rgb(204, 23, 23);
            }
         }
         &_palabra {
            margin: auto;
            padding: 10px 0;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span {
               margin: 1px;
               padding: 0px 0px;
               text-align: center;
               border: 2px solid #999;
               border-radius: 5px;
               line-height: 50px;
               min-height: 50px;
               min-width: 50px
            }
         }
         &_letras {
            margin: auto;
            padding: 10px 0;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media (max-width: 1023px) {
               width: 100%;
            }
            button {
               margin: 1px;
               text-align: center;
               border: 2px solid #ccc;
               border-radius: 5px;
               outline: none;
               line-height: 50px;
               min-height: 50px;
               min-width: 50px;
               &:hover {
                  background-color: #fff;
                  border-color: #0f87d6;
                  color: #555;
                  font-weight: 700;
               }
            }
            .rojo {
               border-color: rgb(204, 23, 23);
               background-color: #f57;
               color: #fff;
               font-weight: 700;
            }
            .verde {
               border-color: rgb(37, 177, 44);
               background-color: rgb(85, 255, 122);
               color: #fff;
               font-weight: 700;
            }
            p {
               padding: 5px;
               width: 100%;
               span {
                  padding: 5px;
                  border: 2px solid rgb(204, 23, 23);
                  border-radius: 5px;
                  color: #555;
                  font-weight: 700;
                  text-transform: capitalize;
               }
            }
         }
         &_btn-contadores {
            margin: auto;
            padding: 10px 0;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1023px) {
               width: 100%;
            }
            &-contadores {
               margin: auto;
               padding: 10px 0;
               p {
                  line-height: 2;
                  font-weight: 700;
               }
               .number-rojo {
                  line-height: 3;
                  width: 100%;
                  text-align: center;
                  border: 2px solid rgb(204, 23, 23);
                  border-radius: 5px;
                  font-weight: 700;
               }
               .number-verde {
                  line-height: 3;
                  width: 100%;
                  text-align: center;
                  border: 2px solid rgb(37, 177, 44);
                  border-radius: 5px;
                  font-weight: 700;
               }
            }
            &-btnJugar {
               margin: auto;
               padding: 10px 0;
               a {
                  button {
                     margin: auto;
                     padding: 10px 20px;
                     display: block;
                     border: 2px solid #ccc;
                     border-radius: 5px;
                     outline: none;
                     background-color: #ededed;
                     color: #555;
                     width: 100px;
                     &:hover {
                        background-color: #fff;
                        border-color: #0f87d6;
                        color: #555;
                        font-weight: 700;
                     }
                  }
               }
            }
         }
      }
      footer {
         line-height: 6;
         text-align: center;
         background-color: #acbacb;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         img {
            margin-right: 10px;
            width: 35px;
            height: auto;
         }
         a {
            color: #fff;
            &:hover {
               color: #f57;
               text-decoration: underline;
            }
         }
      }
   }
}