<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
   <html>
      <head profile='http://www.w3.org/2005/10/profile'>
         <!-- META TAG -->
         <meta lang='es'/>
         <meta http-equiv='content-type' content='text/html' charset='utf-8'/>
         <meta http-equiv='X-UA-Compatible' content='IE=edge'>
         <meta name='DC. title' content=''/>
         <meta name='description' content=''/>
         <meta name='copyright' content=''/>
         <meta name='keyword' content=''/>
         <meta name='viewport' content='width=device-width, inital-scale=1.0'/>
         <meta name='robots' content='index, follow'/>

         <!-- TITLE -->
         <title></title>

         <!-- CSS -->
         <link rel='icon' type='img/png' href=''>
         <link rel='stylesheet' type='text/css' href='./css/app.css'>
      </head>
      <body>

         <div id='app'>
            <header>
               <h1>{{header.title}}</h1>
               <h3>{{header.subtitle}}</h3>
            </header>

            <div class="juego" id="juego">

               <h2>Juego: "Adivina la Fruta"</h2>

               <div v-if="juego == false" class="juego_endGame">
                  <h3 class="juego_endGame-win" v-if="win">¡¡¡Felicitaciones, completaste la palabra!!!</h3>
                  <h4 class="juego_endGame-win" v-if="win && contador_errores === 0">Sin errores XD</h4>
                  <h3 class="juego_endGame-lose" v-if="lose">¡¡¡Lo sentimos, no completaste la palabra!!!</h3>
               </div>

               <div class="juego_palabra">
                  <span v-for="palabra in palabra_escrita">{{palabra}}</span>
               </div>

               <div class="juego_letras">
                  <button v-for="(letra, index) in letras" @click="comparar(letra, index)" v-bind:disabled="botones[index]" v-bind:class="{verde: color_botones[index] == 'verde', rojo: color_botones[index] == 'rojo'}">{{letra}}</button>  
               </div>

               <div v-if="lose" class="juego_letras">
                  <p>La palabra correcta era: <span>"{{palabra_generada}}"</span></p>
               </div>
               <!-- <div v-if="juego">
                  <p></p>
               </div> -->

               <div class="juego_btn-contadores">

                  <div class="juego_btn-contadores-btnJugar">
                     <a href="#juego"><button type="button" @click="generarAleatorio()">Jugar</button></a>
                  </div>

                  <div class="juego_btn-contadores-contadores">
                     <p>Aciertos:</p>
                     <p class="number-verde">{{contador_aciertos}}</p>
                     <p>Errores:</p>
                     <p class="number-rojo">{{contador_errores}}</p>
                  </div>
               </div>
            </div>

            <footer>
               <img :src="footer.img.src" :title="footer.img.title" :alt="footer.img.alt">
               <a :href="footer.link.href" :title="footer.link.title" target="_blank">{{footer.link.title}}</a>
            </footer>
         </div>

         <!-- JS -->
         <!-- development version, includes helpful console warnings -->
         <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
         <script src='./js/app.js'></script>
      </body>
   </html>